<html>
<head>
            <title>{% block title %}Car Rental Site {% endblock %}</title>
</head>

<body>
    <div id="Sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/searchpage/">Search Cars</a></li>
            <li><a href="/account/login">Login</a></li>
            <li><a href="/account/register">Create New Account</a></li>
            <li><a href="/reservation/">Reservation</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="Content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>