<!DOCTYPE html>
<html> 
    <head> 
        <style>
            tr:nth-child(even) {
                background-color: #c5cddb;
            }
            td, th {
                border:  #c5cddb;
            }
            table {
                border-collapse: collapse;                
            }
        </style>
        <title>{% block title %}{% endblock %}</title>
            <meta charset="utf-8" />    
    </head>
    <body>
        {% block content %}{% endblock%}
    </body>
</html>