{% load static %}
<!DOCTYPE html>
<html> 
    <head> 
        <style>
            tr:nth-child(even) {
                background-color: #c5cddb;
            }
            td, th {
                border :#c5cddb;
            }
            .table {
           
            }
            
            /*
            .container {
   
                justify-content: center;
                align-items: center;
            }
            */
            

            #title {
                letter-spacing: 10px;
            }

            #querytext {
                font-size: 30px;              
            }
        </style>

        <title>Search Page</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{% static '/reservation/css/bootstrap.css' %}" rel="stylesheet">
        
            
    </head>
    <body class="bg-light">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Search</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/account/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/account/register">Register</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
            <p><br/></p>

            <div class="container">
            <form method='GET' action=''>
                <div class="py-5" id="querytext">
                    <input type='text' name='query' placeholder="Search for vehicles" value='{{ request.GET.query }}'/>
                </div>
                
                    <input type='submit' value='Search'/>

                    <div class="form-group col-md-8">                       
                            <select id="pickupStoreName" class="form-control">
                            <option ></option>
                            <option selected>Pickup Store...</option>
                            {% for car in searchedcars %}
                            <option>{{ car.pickup_store_name }}</option>
                            {% endfor %}
                            </select>

            </form>
            </div>
            <div class="table table-responsive">
            <table class="table" cellpadding="10">
                <tr>
                    <th>Pickup Store</th>
                    <th>Make Name</th>
                    <th>Model</th>
                    <th>Series</th>
                    <th>Series Year</th>
                    <th>Transmission</th>      
                </tr>
                {% for car in searchedcars %}     
                    <tr>
                        <td>{{car.pickup_store_name}}</td>
                        <td>{{car.car_makename}}</td>
                        <td>{{car.car_model}}</td>
                        <td>{{car.car_series}}</td>
                        <td>{{car.car_seriesyear}}</td>
                        <td>{{car.car_standardtransmission}}</td> 
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </body>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static '/reservation/js/popper.min.js' %}"></script>
    <script src="{% static '/reservation/js/bootstrap.js' %}"></script>
    <script src="{% static '/reservation/js/holder.min.js' %}"></script>
    
</html>
