
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="py-5 text-center">
	<h2>What Car should you rent?</h2>
        <p class="lead">Guide to renting a car</p>
    </div>

        	<hr class="mb-4">

            <h4 class="mb-3">What type of car are you looking for?</h4>

		<div class="py-5 text-left">
			<form action="", method ="GET">
			<div class="form-inline py-3 b border-bottom border-white justify-content-md-center">                       
                            <select id="carMake" name='dropdownPrice' class="form-control col-lg-3 col-md-4">
                                <option value="" disabled selected>Option...</option>
                                <option value="expensive">Expensive</option>
                                <option value="cheap">Cheap</option>
                            </select>

                            <select id="carModel" name='dropdownLength' class="form-control col-lg-3 col-md-4">
                                <option value="" disabled selected>Option...</option>
                                <option value='less'>Less Than 2 Weeks</option>
                                <option value='more'>More Than 2 Weeks</option>
                            </select>
            </div>

			
				<input type="submit" class="btn btn-primary" value="Submit">
			</form>
	    </div>

	      <div class="text-center"><h3>{{searchedcars.count}} RESULTS</h3></div>

            <div class="row">
                {% for car in searchedcars %}
                    <div class="col-sm-12 col-md-12 col-lg-6 py-2">
                        <a href="{% url 'reservation:details' car.car_id %}" class="text-white" style="text-decoration: none;">
                        <div class="card bg-secondary border-dark">
                            <div class="card-block"  style="padding: 20px">
                                <h3 class="card-title">{{ car.car_make }} {{ car.car_model }}</h3>
                                <h4 class="card-title">{{ car.car_series }} {{ car.car_seriesyear }}</h4>

                                <div class="card-text">
                                    {{ car.car_bodytype }} | {{ car.car_standardtransmission}} | Seats {{ car.car_seatingcapacity }}
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}   
          </div>

{% endblock %}