<div class="mb-3">
            <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                <i class="fa fa-credit-card"></i> Credit Card</a></li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                <i class="fab fa-paypal"></i>  Paypal</a></li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#nav-tab-cash">
                <i class="fa fa-university"></i>  Cash Payment</a></li>
            </ul>

            <!-- CREDIT CARD CONTENT -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="nav-tab-card">
                <div class="form-group">
                  <label for="username">Full name (on the card)</label>
                  <input type="text" class="form-control" name="username" placeholder="" required="">
                </div> 

                <div class="form-group">
                  <label for="cardNumber">Card number</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="cardNumber" placeholder="" required>
                    <div class="input-group-append">
                      <span class="input-group-text text-muted">
                        <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
                        <i class="fab fa-cc-mastercard"></i> 
                      </span>
                    </div>
                  </div>
                </div> 

               <div class="row"> 
                  <div class="col-sm-8">
                      <div class="form-group">
                          <label><span class="hidden-xs">Expiration</span> </label>
                        <div class="input-group">
                          <input type="number" class="form-control" placeholder="MM" name="" required>
                            <input type="number" class="form-control" placeholder="YY" name="" required>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                          <input type="number" class="form-control" required="">
                      </div> 
                  </div>
                </div>
              </div> 

            <!-- PAYPAL CONTENT --> 
              <div class="tab-pane fade" id="nav-tab-paypal">
                <p>Paypal is easiest way to pay online</p>
                <p>
                  <button type="button" class="btn btn-primary" type="submit"> <i class="fab fa-paypal"></i> Log in my Paypal </button>
                </p>
                <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>

              <!-- CASH PAYMENT CONTENT -->
              <div class="tab-pane fade" id="nav-tab-cash">
                <p>For cash payment, read below.</p>
                <p>
                  <button type="button" class="btn btn-primary" type="submit"> <i class="fab fa-paypal"></i> Give me a receipt! </button>
                </p>
                <p><strong>Note:</strong> Your reservation will be held for 5 days before cancelling order. </p>
                </div> 
              </div> 
            </div>