{% extends 'reservation/layout.html' %}
{% load static %}
{% block content %}
<div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'reservation/img/bootstrap-solid.svg' %}" alt="" width="72" height="72">
        <h2>Ready to reserve your car?</h2>
        <p class="lead">To reserve a car please complete and submit the booking form</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your Car</span>
            <span class="badge badge-secondary badge-pill">1</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Car Name</h6>
                <small class="text-muted">{{ car.car_make }} {{ car.car_model }}</small>
                <h6 class="my-0"></h6>
                <small class="text-muted">{{ car.car_series }} {{ car.car_seriesyear }}</small>
              </div>
              <span class="text-muted">$99</span>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (AUD)</span>
              <strong>$99</strong>
            </li>
          </ul>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Reservation Details</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Pickup">Pickup Date and Time</label>
                    <input class="form-control" type="datetime-local" placeholder="Date" required>
                <div class="invalid-feedback">
                  Valid date is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Pickup">Pickup Location</label>
                    <select class="form-control" name="car_type" required>
                      <option value="" >Select Location</option>
                      {% for instance in store %}
                      <option value="{{ instance.store_city }}">{{ instance.store_city }}</option>
                      {% endfor %}
                    </select>
                <div class="invalid-feedback">
                  Valid Location is required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="Pickup">Return Date and Time</label>
                    <input class="form-control" type="datetime-local" placeholder="Date" required>
                <div class="invalid-feedback">
                  Valid date is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="Pickup">Return Location</label>
                    <select class="form-control" name="car_type" required>
                      <option value="" >Select Location</option>
                      {% for instance in store %}
                      <option value="{{ instance.store_city }}">{{ instance.store_city }}</option>
                      {% endfor %}
                    </select>
                <div class="invalid-feedback">
                  Valid Location is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="username" >Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Payment</h4> 

            <!-- PAYMENT FORM -->

            <!-- NAV LIST -->
            <div class="mb-3">
            <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                <i class="fa fa-credit-card"></i> Credit Card</a></li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                <i class="fab fa-paypal"></i>  Paypal</a></li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#nav-tab-cash">
                <i class="fa fa-university"></i>  Cash Payment</a></li>
            </ul>

            <!-- CREDIT CARD CONTENT -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="nav-tab-card">
                <div class="form-group">
                  <label for="username">Full name (on the card)</label>
                  <input type="text" class="form-control" name="username" placeholder="" required="">
                </div> 

                <div class="form-group">
                  <label for="cardNumber">Card number</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="cardNumber" placeholder="" required>
                    <div class="input-group-append">
                      <span class="input-group-text text-muted">
                        <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>   
                        <i class="fab fa-cc-mastercard"></i> 
                      </span>
                    </div>
                  </div>
                </div> 

               <div class="row"> 
                  <div class="col-sm-8">
                      <div class="form-group">
                          <label><span class="hidden-xs">Expiration</span> </label>
                        <div class="input-group">
                          <input type="number" class="form-control" placeholder="MM" name="" required>
                            <input type="number" class="form-control" placeholder="YY" name="" required>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                          <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                          <input type="number" class="form-control" required="">
                      </div> 
                  </div>
                </div>
                <button class="subscribe btn btn-primary btn-block" type="submit"> Confirm your checkout </button>
              </div> 

            <!-- PAYPAL CONTENT --> 
              <div class="tab-pane fade" id="nav-tab-paypal">
                <p>Paypal is easiest way to pay online</p>
                <p>
                  <button type="button" class="btn btn-primary" type="submit"> <i class="fab fa-paypal"></i> Log in my Paypal </button>
                </p>
                <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>

              <!-- CASH PAYMENT CONTENT -->
              <div class="tab-pane fade" id="nav-tab-cash">
                <p>For cash payment, read below.</p>
                <p>
                  <button type="button" class="btn btn-primary" type="submit"> <i class="fab fa-paypal"></i> Give me a receipt! </button>
                </p>
                <p><strong>Note:</strong> Your reservation will be held for 5 days before cancelling order. </p>
                </div> 
              </form>
              </div> 
            </div>

            {% endblock %}

    