{% extends 'base.html' %}
{% load static %}

{% block content %}
<br/>
<script type="text/javascript" src="{% static "admin/js/fusioncharts.js" %}"></script>
<script type="text/javascript" src="{% static "admin/js/themes/fusioncharts.theme.fusion.js" %}"></script>
  <div class="py-5 text-center">
    <h3>Welcome to the data analytics page!</h3>
    <div class="row">
      <div class="col-md" id="dropdowns">
        <form action="" method="GET">
        <select id="drop-store" class="form-control" name="Store">                              
          <option value="" disabled>Store</option>
          <option selected>All Stores</option>
          {% for store in stores %}
          <option {{ store|safe }}</option>
          {% endfor %}
      </select>
      <br/>
      <select id="drop-selection" class="form-control" name="g">                              
        <option value="" disabled>Granularity</option>
          {% for g in granularity %}
            <option {{ g|safe }}</option>
          {% endfor %}
      </select>
      <br/>
      <select id="drop-granularity" class="form-control" name="year">                              
        <option value="" disabled>Specific Year</option>
          {% for year in years %}
            <option {{ year|safe }}</option>
          {% endfor %}
      </select>
      <br/>
      <select id="drop-granularity" class="form-control" name="month">                              
        <option value="" disabled selected>Specific Month</option>
          {% for month in months %}
            <option {{ month|safe  }}</option>
          {% endfor %}
      </select>
       <br/>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
      </div>
      <div class="col-lg" id="data-chart">
      </div>
      {{ output | safe }}
    </div>
  </div>
{% endblock %}