<!-- templates/management.html -->
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<h1 style="margin:auto">Welcome to the 96 Cars Management Page!</h1>
<br>
<br>
<p style="margin:auto">To view the Admin Page Click the Link Below</p>
<p style="margin:auto">
<a href="http://127.0.0.1:8000/admin/" >Admin Page</a>
</p> 
<br>
<br>
<br>
<br>
<br>
<p style="margin:auto">To View Analytics Click the Link Below (Must Be Signed in as Admin)</p>
<p style="margin:auto">
<a href="http://127.0.0.1:8000/analytics" >Data Analysis</a>
</p> 
<br/>
<br/>
<p style="margin:auto">
    <a href="http://127.0.0.1:8000/store" >Store Interface</a>
</p> 
{% endblock %}

