<!-- templates/management.html -->
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<h1 align="center">Welcome to the 96 Cars Management Page!</h1>
<br>
<br>
<p align="center">Please Sign in to Admin By Clicking the Link Below</p>
<center>
<a href="http://127.0.0.1:8000/admin/" >Admin Login<a/
</center> 
<br>
<br>
<br>
<br>
<br>
<p align="center">To View Analytics Click the Link Below (Must Be Signed in as Admin)</p
<center>
<a href="http://127.0.0.1:8000/analytics" >Data Analysis<a/
</center> 
{% endblock %}

