<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
</style>
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="py-5 text-center">
    <h3> Welcome, Employee!</h3>
    <h4>Choose your store below, then press submit:</h4>
    <form action="" method="GET">
        <select id="drop-store" class="form-control" name="Store">
            {% for s in stores %}
            <option value="{{s.store_id}}" {% if selectedStore == s.store_id %} selected {% endif %}> {{ s.store_name }} </option>
            {% endfor %}
          </select>
          <br/>
          <input type="submit" class="btn btn-primary" value="Submit">
    <p>
    <h5> Please select a car that has been picked up, or dropped off, then click submit to process the order!</h5>
    </p>
    <div class="row">
      <div class="col-md">
        <h4>Placed orders</h4>
        <br/>
        <table class="table table-bordered table-hover">
          <th scope="col">Pick up date</th>
          <th scope="col">Order ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Car ID</th>
          <th scope="col">Car Model</th>
          <th scope="col">Click to pick up</th>
          <tr>
            <td>None</td><td></td><td></td><td></td>
            <td>
                <td><input name='id' type="radio" class="btn btn-primary" value="0"></button></td>  
            </td>
          </tr>
          {% for order in topickup %}
          <tr>
            <td>{{order.order_pickupdate}}</td>
            <td>{{order.order_id}}</td>
            <td>{{order.order_customer.customer_name}}</td>
            <td>{{order.order_car}}</td>
            <td>{{order.order_car.car_model}}</td>
            <form action="" method="GET">
            <td><br/><input name='id' type="radio" class="btn btn-primary" value="{{order.order_id}}"></button></td>
          </tr>
          {% endfor %}
        </table>
        
      </div>
      <div class="col-md">
          <h4>Active orders</h4>
          <br/>
          <table class="table table-bordered">
              <th scope="col">Return date</th>
              <th scope="col">Order ID</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Car ID</th>
              <th scope="col">Car Model</th>
              <th scope="col">Click to return</th>
              {% for order in todropoff %}
              <tr>
                <td>{{order.order_returndate}}</td>
                <td>{{order.order_id}}</td>
                <td>{{order.order_customer.customer_name}}</td>
                <td>{{order.order_car}}</td>
                <td>{{order.order_car.car_model}}</td>
                <td><input name='id' type="radio" class="btn btn-primary" value="{{order.order_id}}"></button></td>
              </tr>
              {% endfor %}
            </table>
        </div>
      </form>
    </div>
  </div>
{% endblock %}